* { 
	margin:0; 
  padding:0;
  list-style: none;
  text-decoration: none;
  
}
body{
  font: 12px 'Microsoft YaHei','Droid Sans Fallback','PingFang SC','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei',sans-serif;
}
a{
  display: block;
  color: #666;
}
.bt1{
  background: url(../images/i8.png) no-repeat center 0;
  height: 230px;
  margin: 100px 0 40px;
  text-align: center;
}
.bt1 i{
  border-bottom: 1px solid #bfc5c8;
  position: relative;
  top: 102px;
  display: block;
}
.bt1 a{
  width: 764px;
  padding-top: 88px;
  height: 85px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}
.bt1 span{
  font-size: 20px;
  font-family: 'Great Vibes',cursive;
  margin: 0 auto 30px;
  background: #fff;
  padding: 5px 10px 0px;
  position: relative;
}
.bt1 a:hover span {
  background: #8a979f;
  color: #fff;
  border-radius: 5px;
}
.bt1 h2{
  margin-top: 70px
}
.h1{
  background-position: center -230px;
}
.h2 {
  background-position: center -690px;
  margin-top: 60px;
}
.h3{
  background-position: center -1380px;
}
.h4{
  background-position: center -1610px;
}

.h6{
  background-position: center -920px;
}

.h7 {
  background-position: center -460px;
}

.h8 {
  background-position: center -920px;
}
.h9 {
  background-position: center -1840px;
  margin: 49px auto 126px;
}

.sc1,.sc2,.sc6 .bd,.news,.sc7{
    width: 1180px;
    margin: 0 auto;
    overflow: hidden;
}
.sc1 ul,.sc2 ul,.sc7 ul,.sc9 .hd ul{
    width: 1215px;
}

.s2,.wb_b,.sc9 .hd,.wp{
  width: 1180px;
  margin: 0 auto;
}


/* 公共轮播样式 */
.indexlunbo {
  margin-top: 84px;
  position: relative;
  height: 650px;
  z-index: 1;
  overflow: hidden;
  background: #eee url(../images/load.gif) no-repeat center center;
}
.indexlunbo .i a {
  width: 49px;
  height: 97px;
  background: url(../images/ap_i.png) no-repeat;
  position: absolute;
  left: 2%;
  top: 220px;
  z-index: 2;
}
.indexlunbo a.next {
  background-position: -51px 0;
  left: auto;
  right: 2%;
}
.indexlunbo .bd li {
  float: left;
  width: 100%;
  height: 650px;
  background-position: center 0;
  background-repeat: no-repeat;
}
.indexlunbo .bd a {
  display: block;
  height: 480px;
  width: 1000px;
  margin: 100px auto 0;
  outline: none;
  position: relative;
  z-index: 2;
}
.indexlunbo .hd {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  width: 100%;
  height: 21px;
  text-align: center;
  margin: 0 auto;
}
.indexlunbo .hd li {
  display: inline-block;
 
  cursor: pointer;
  width: 21px;
  height: 21px;
  background: url(../images/ulink.png) no-repeat;
}
.indexlunbo .hd li.on {
  background-position: -21px 0;
}
.indexlunbo i {
  background: url(../images/ap.png) no-repeat center bottom;
  height: 192px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* 回顶部 */
.tp {
  width: 38px;
  height: 30px;
  background: #618cb2 url(../images/tp.png) no-repeat center 7px;
  position: fixed;
  right: 5px;
  bottom: 500px;
  z-index: 1000;
  display: none;
  border-radius: 4px;
}

