
.qiqiu{ position:fixed; width:100px; height:200px;}
.qiqiu div{ width:70px; height:65px; background:url(../images/730e0cf3d7ca7bcbbc1b79c0bf096b63f724a8f9.png) no-repeat center center; padding:15px 5px 0; text-align:center; margin:0 auto; background-size:100% auto;}
.qiqiu img{ width:100%; height:auto; display:block;}

.qiqiu1{ bottom:-200px; left:400px;animation: myfirst 20s linear infinite; z-index:2222;animation-delay:0s;-webkit-animation: myfirst 20s linear infinite; z-index:2222;-webkit-animation-delay:0s; }
.qiqiu2{ bottom:-200px; left:650px;animation: myfirst2 22s 1s linear infinite;animation-delay:2s;width:70px;-webkit-animation: myfirst2 22s 1s linear infinite;-webkit-animation-delay:2s;}
.qiqiu3{ bottom:-200px; left:900px;animation: myfirst3 22.2s linear infinite; z-index:2222;animation-delay:3s;-webkit-animation: myfirst3 22.2s linear infinite;-webkit-animation-delay:3s; }
.qiqiu4{ bottom:-200px; left:1050px;animation: myfirst4 21s 0.2s linear infinite; z-index:2222;animation-delay:5s;-webkit-animation: myfirst4 21s 0.2s linear infinite;-webkit-animation-delay:5s; }
.qiqiu5 div{ width:50px; height:55px; padding: 5px 5px 0; margin:0 auto}
.qiqiu2 div{ width:60px; height:65px; padding: 5px 5px 0; margin:0 auto}

.qiqiu5{ bottom:-200px; left:1250px;animation: myfirst5 19.5s 1.2s linear infinite;animation-delay:4s;width:60px;}

.text{
    
    line-height:50px;
    color:#BA01FF;
    font-family: "微软雅黑";
    font-size:20px;
}
.text:hover{
    text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #FF00DE, 0 0 70px #FF00DE, 0 0 80px #FF00DE, 0 0 100px #FF00DE;
  }

@keyframes myfirst
{
from {bottom: -200px;}
to {bottom: 800px;}
}
@keyframes myfirst2
{
from {bottom: -200px;}
to {bottom: 850px;}
}
@keyframes myfirst3
{
from {bottom: -200px;}
to {bottom: 820px;}
}
@keyframes myfirst4
{
from {bottom: -200px;}
to {bottom: 780px;}
}
@keyframes myfirst5
{
from {bottom: -200px;}
to {bottom: 830px;}
}

@-webkit-keyframes myfirst
{
from {bottom: -200px;}
to {bottom: 800px;}
}
@-webkit-keyframes myfirst2
{
from {bottom: -200px;}
to {bottom: 850px;}
}
@-webkit-keyframes myfirst3
{
from {bottom: -200px;}
to {bottom: 820px;}
}
@-webkit-keyframes myfirst4
{
from {bottom: -200px;}
to {bottom: 780px;}
}
@-webkit-keyframes myfirst5
{
from {bottom: -200px;}
to {bottom: 830px;}
}

